/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 13, 2016, 1:36:43 PM
    Author     : qwazix
*/

body{
    font-family: "Open Sans";
    margin: 0; padding: 0;
    background: #fcfbf8;
}
.block:nth-child(odd) h1, .block:nth-child(odd) p{
    text-align: right;
}
header{
    margin: 0 30px;
}
header img.logo{
    vertical-align: middle;
    height: 2em;
    margin-right: 0.4em;
}
ul.menu{
    list-style-type: none;
    float: right;
    text-align: right;
    max-width: 80%;
}
ul.menu li{
    display: inline-block;
    border-right: 3px solid #2a8fbd;    
    padding: 3px 20px;
    text-align: center;
}
/*@media (max-width:537px){
    ul.menu{text-align: right;}
    ul.menu li{width: 100px; }
    ul.menu li:last-child{display:block}
}*/
ul.menu li:last-child{
    border-right: 0 none; 
    padding-right: 6px;
    padding-left: 22px;
}
ul.menu li:last-child img:first-child{
    vertical-align: middle;
    margin-right: 5.5px;
}
img.big{
    width: 100%;
    display: block;
}
.block{
    padding: 30px 0;
    background: url("shadow.png") bottom center no-repeat, url("shadow-top.png") top center no-repeat;
    overflow: hidden;
}
.block>div:first-child{
    margin: 50px auto;
    max-width: 960px;
    padding: 0 20px;
}
.block:nth-child(even){
    background: #383836;
    color: #eee;
}
.block>div img:first-child{
    display: block;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    height: 290px;
}
.block:nth-child(even)>div img:first-child{
    float: right;
    margin-left: 30px;
}

h1:before {
  content: "";
  width: 7em;
  display: block;
  overflow: hidden;
}

@media (max-width:464px){
    .block>div img:first-child{
        float: none !important;
        margin: 0 auto !important;
    }
}